
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Font-awesome.
@import '~@fortawesome/fontawesome-free/scss/fontawesome.scss';
@import '~@fortawesome/fontawesome-free/scss/regular.scss';
@import '~@fortawesome/fontawesome-free/scss/solid.scss';
@import '~@fortawesome/fontawesome-free/scss/brands.scss';
  
body {
  background: url('/assets/images/bg1.jpg') no-repeat;
  background-size: cover;
}
    
#main-container {
  background:  rgba(255, 255, 255, 0.9);  
}
    
.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

table.videos td {
  border: 1px solid #000;
}

.footer {
  text-align: right;
}
    